<% include ./partials/header.ejs %>
  <div class="w-full min-h-screen bg-white px-10 py-8 text-white">
    <div class="cards flex flex-wrap gap-2 justify-center">
      <% posts.forEach(function(post){ %>
        <div class="cards w-60 m-4">
          <div class="bg-state-100 rounded-xl">
            <div class="w-full rounded-xl overflow-hidden">
              <img class="w-full h-55 object-cover" src="/images/uploads/<%= post.postimage %>">
            </div>
            <div class="flex mt-3 pb-3 ml-1">
              <img class="w-9 h-9 object-cover rounded-full" src="/images/uploads/<%= post.user.profileImage %>"
                alt="Profile">
              <h5 class="mt-2 text-sm font-semibold text-black ml-2">
                <%= post.title %>
              </h5>
            </div>
          </div>
        </div>
        <% })%>
    </div>
  </div>
  <% include ./partials/footer.ejs %>